body {
  font-family: "Open Sans", serif;
}

.container {
  max-width: 1170px;
}

a {
  text-decoration: none;
}

header {
  position: absolute;
  width: 100%;
  z-index: 999;
}
header nav {
  background-color: rgba(22, 12, 109, 0.5);
  padding: 18px 0 !important;
}
header ul {
  gap: 42px;
}
header ul li a {
  color: #EFF4FA;
  font-weight: 600;
  font-size: 18px;
  font-family: "Open Sans", serif;
  transition: 0.4s;
}
header ul li a:hover {
  color: #1BBF00;
}
header ul li .active {
  color: #1BBF00;
}
header button {
  background: #1BBF00;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  border: 0;
  font-family: "Open Sans", serif;
  padding: 14px 28px;
  border-radius: 100px;
  line-height: 200%;
  text-transform: capitalize;
  border: 2px solid transparent;
}

#banner {
  background: url("../images/bannerimage.jpg ") no-repeat center;
  background-size: cover;
  position: relative;
}
#banner .shapeOne {
  position: absolute;
  top: 300px;
  left: 31px;
}
#banner .shapeTwo {
  position: absolute;
  bottom: 150px;
  right: 80px;
}
#banner .overlay {
  background-color: rgba(107, 98, 197, 0.8);
  height: 100%;
  width: 100%;
  padding-top: 246px;
  padding-bottom: 254px;
}
#banner .overlay h1 {
  font-size: 84px;
  font-weight: 700;
  color: #FAFAFE;
  text-transform: uppercase;
  line-height: 100px;
  font-family: "Open Sans", serif;
  margin-bottom: 20px;
}
#banner .overlay p {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  color: #E6E5F3;
  font-family: "Paprika", serif;
  max-width: 715px;
  margin: 0 auto;
  margin-bottom: 16px;
}
#banner .overlay button {
  background: #1BBF00;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  border: 0;
  font-family: "Open Sans", serif;
  padding: 14px 28px;
  border-radius: 100px;
  line-height: 200%;
  text-transform: capitalize;
  border: 2px solid transparent;
  transition: 0.4s;
  margin-left: 16px;
}
#banner .overlay button:hover {
  background: transparent;
  border: 2px solid #1BBF00;
}

#client {
  position: relative;
}
#client img {
  position: absolute;
  top: 0;
  right: 0;
}
#client .item1 h2 {
  color: #1BBF00;
  font-weight: 800;
  font-size: 64px;
  line-height: 68px;
  text-align: center;
}
#client .item1 h4 {
  color: #141135;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}
#client .item2 {
  margin: 283px 0;
}
#client .item2 h2 {
  color: #1BBF00;
  font-weight: 800;
  font-size: 64px;
  line-height: 68px;
  text-align: center;
}
#client .item2 h4 {
  color: #141135;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  text-wrap: nowrap;
}

.item1 {
  margin: 283px 0;
  border-right: 3px solid #4F585F;
}

#choose {
  background-color: #FDFDFD;
  position: relative;
}
#choose img {
  position: absolute;
  top: 0;
  left: 0;
}
#choose h2 {
  color: #141135;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 9px;
  padding-top: 100px;
}
#choose p {
  width: 393px;
  color: #726E9E;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Paprika", serif;
  margin-bottom: 40px;
}
#choose button {
  background: #1BBF00;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  border: 0;
  font-family: "Open Sans", serif;
  padding: 14px 28px;
  border-radius: 100px;
  line-height: 200%;
  text-transform: capitalize;
  border: 2px solid transparent;
}
#choose .choose-left {
  margin: 100px 0;
}
#choose .cart-1 .roundedone {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #1BBF00;
  margin-left: 20px;
}
#choose .cart-1 .roundedtwo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #CBC8F0;
  margin-left: -10px;
}
#choose .cart {
  width: 568px;
  margin-left: 100px;
  background-color: #ffffff;
  padding: 42px 0px;
  margin-top: 15px;
  transition: 0.4s;
  border-radius: 20px;
}
#choose .cart:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#choose .cart h4 {
  width: 319px;
  font-size: 18px;
  margin-left: 30px;
}

#course {
  padding-top: 50px;
  background-color: #F6F5FF;
}
#course .course-1 {
  width: 370px;
  padding: 30px 30px 30px 30px;
}
#course .course-1 h2 {
  font-size: 48px;
  color: #141135;
  font-weight: 700;
}
#course .course-1 p {
  width: 350px;
  font-size: 18px;
  font-weight: 400;
  color: #6C7D93;
  letter-spacing: 0.5px;
  line-height: 32px;
}
#course .course-1 button {
  background: #1BBF00;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  border: 0;
  font-family: "Open Sans", serif;
  padding: 14px 28px;
  border-radius: 100px;
  line-height: 200%;
  text-transform: capitalize;
  border: 2px solid transparent;
}
#course img {
  padding-top: 48px;
}
#course .course-2 {
  width: 370px;
  transition: 0.4s;
  padding: 20px 20px;
  border-radius: 20px;
}
#course .course-2:hover {
  background-color: #6B62C5;
  border-radius: 20px;
  color: #FAFAFE;
}
#course .course-2:hover a {
  color: #FAFAFE;
}
#course .course-2 h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  padding-top: 32px;
}
#course .course-2 p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Paprika", serif;
  width: 257px;
  margin: 0 auto;
  margin-top: 16px;
}
#course .course-2 a {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  display: inline-block;
}

.read-more {
  position: relative;
  margin-top: 20px;
  z-index: 222;
}
.read-more span {
  width: 27px;
  height: 40px;
  background-color: #bcc0c5;
  position: absolute;
  border-radius: 0px 100px 100px 0px;
  right: 110px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.course-3 {
  background-color: #FFFFFF;
  border-radius: 20px;
}
.course-3 h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #141135;
  margin-top: 32px;
}
.course-3 p {
  font-size: 18px;
  width: 278px;
  font-weight: 700;
  font-family: "Paprika", serif;
  margin: 0 auto;
  color: #726E9E;
}
.course-3 a {
  font-size: 18px;
  font-weight: 700;
  color: #141135;
  line-height: 24px;
}
.course-3 .read-more {
  position: relative;
  margin-top: 20px;
  padding-bottom: 20px;
}
.course-3 .read-more span {
  width: 27px;
  height: 40px;
  background-color: rgba(27, 191, 0, 0.5);
  position: absolute;
  border-radius: 0px 100px 100px 0px;
  right: 125px;
  top: 30%;
  z-index: 1;
}

.do-bottom {
  margin-top: 50px;
  padding-bottom: 101px;
}

#impact {
  margin-bottom: 300px;
  position: relative;
}
#impact .vector-img {
  position: absolute;
  bottom: -250px;
  right: 0;
  margin-bottom: 50px;
  width: 200px;
}
#impact .impact-title h2 {
  font-size: 48px;
  font-weight: 700;
  color: #141135;
  padding-top: 91px;
}
#impact .impact-title p {
  width: 558px;
  font-size: 18px;
  font-weight: 400;
  color: #726E9E;
  line-height: 30px;
  margin: 0 auto;
  margin-top: 23px;
  font-family: "Paprika", serif;
}
#impact .impact-icon {
  margin-top: 20px;
}
#impact .impact-icon h4 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #141135;
}
#impact .impact-icon p {
  width: 343px;
  font-size: 18px;
  font-weight: 400;
  color: #726E9E;
  line-height: 30px;
  font-family: "Paprika", serif;
}
#impact .impact-right-img {
  position: relative;
}
#impact .impact-right-img .impact-img-1 {
  position: absolute;
  top: 0;
  left: 0;
}
#impact .impact-img-2 {
  position: absolute;
  top: 150px;
  right: -30px;
}
#impact .impact-img-3 {
  position: absolute;
  top: -10px;
  right: 0;
}
#impact .impact-img-4 {
  position: absolute;
  top: 80px;
  right: -40px;
}

#plan {
  background-color: #F9F9FB;
  padding-top: 100px;
  padding-bottom: 100px;
}
#plan .plan-title h2 {
  font-size: 48px;
  font-weight: 700;
  color: #141135;
  text-align: center;
}
#plan .plan-cart {
  margin-top: 64px;
}
#plan .basic {
  width: 370px;
  background-color: #FFFFFF;
  border-radius: 20px;
}
#plan .basic:hover {
  box-shadow: 0 30px 60px rgba(162, 169, 192, 0.15);
}
#plan .basic h3 {
  padding: 20px 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #141135;
}
#plan .basic h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 50px;
  color: #1BBF00;
  text-align: center;
  margin-top: 20px;
}
#plan .basic p {
  width: 280px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #726E9E;
  font-family: "Paprika", serif;
  margin: 0 auto;
  text-align: center;
}
#plan .basic img {
  background-color: #ECEDF0;
}
#plan .professional {
  background-color: #6B62C5;
  border-radius: 20px;
}
#plan .professional:hover {
  box-shadow: 0 30px 60px rgba(162, 169, 192, 0.15);
}
#plan .professional h3 {
  padding: 20px 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #FAFAFE;
}
#plan .professional h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 50px;
  color: #1BBF00;
  text-align: center;
  margin-top: 20px;
}
#plan .professional p {
  width: 280px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #E6E5F3;
  font-family: "Paprika", serif;
  margin: 0 auto;
  text-align: center;
}

#aboutus {
  background-color: #F8F8FF;
  position: relative;
  padding-bottom: 100px;
}
#aboutus .about-btn .btn-left {
  background-color: #1BBF00;
  padding: 20px;
  color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  left: 10%;
  bottom: 30%;
  opacity: 0.4;
}
#aboutus .about-btn .btn-right {
  background-color: #1BBF00;
  padding: 20px;
  color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  right: 10%;
  bottom: 30%;
}
#aboutus .about-title {
  padding-top: 150px;
}
#aboutus .about-title h2 {
  font-size: 48px;
  font-weight: 700;
  color: #141135;
  text-align: center;
}
#aboutus .about {
  margin-top: 152px;
  background-color: #FFFFFF;
  position: relative;
  border-radius: 20px;
  padding-bottom: 25px;
}
#aboutus .about:hover {
  box-shadow: -15px 30px 50px rgba(171, 175, 199, 0.32);
}
#aboutus .about ul {
  margin-left: 505px;
  margin-top: 20px;
}
#aboutus .about ul li img {
  width: 30px;
  margin-top: 120px;
}
#aboutus .about .about-image img {
  position: absolute;
  border-radius: 50%;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
}
#aboutus .about p {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  color: #726E9E;
  width: 800px;
  margin: 0 auto;
  text-align: center;
  font-family: "Paprika", serif;
  margin-top: 35px;
}
#aboutus .about h4 {
  font-size: 25px;
  font-weight: 700;
  line-height: 40px;
  color: #221A2C;
  text-align: center;
  margin-top: 48px;
}
#aboutus .about h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #726E9E;
  font-family: "Paprika", serif;
  text-align: center;
  margin-top: 4px;
}/*# sourceMappingURL=style.css.map */