header{
    position: absolute;
    width: 100%;
    z-index: 999;
    

    nav{
        background-color: $primary;
        padding: 18px 0 !important;
    }
    ul{
        gap: 42px;
        li{
          
           
            a{
                color: #EFF4FA;
                font-weight: 600;
                font-size: 18px;
                font-family: "Open Sans", serif;
                transition: 0.4s;
                
                &:hover{
                    color: #1BBF00;
                }
               
                
            }
            .active{
                color: #1BBF00;
            }
           
        }
       
    }
    button{
        @include button;
    }
}